<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exporta</title>
    <% include partials/head.html%>
</head>
<%include partials/navigation.html%>
<body>
    <div class="post">
        <img src="image/inversion.jpg">
       <div class="post-s">
            <h2>Exporta</h2>
       </div>
    </div>
    <h1 class="exp-text">¿De que se trata este producto?</h1>

    <div class="exp-container">
        <div class="col-md-6" id="exp-foto">
            <img src="image/sofa.jpg">
        </div>
        <div class="col-md-6" id="exp-texto">
            <h1>Salmon Chileno de Exportacion</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus, distinctio.</p>
        </div>
    </div>
    <div class="Condiciones">
        <h2>Caracteristicas y Condiciones de compra</h2>
        <div class="txt-cond">
            <div class="col-md-6" id="">
            <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident animi impedit dicta excepturi modi et
                 similique nostrum rem quos sequi facere dolorem ipsum qui, cupiditate possimus, aperiam distinctio
                  quisquam cum.</h6>
            </div>
        </div>
        <div class="col-md-6" id="content-exp">
        <h1>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, facere?</h1>
        </div>
    </div>
    <%include partials/footer.html%>
</body>
</html>