<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exporta</title>
    <% include partials/head.html%>
</head>
<%include partials/navigation.html%>
<body>
    <div class="post">
        <img src="image/inversion.jpg">
       <div class="post-s">
            <h2>Patagonia al Mundo</h2>
       </div>
    </div>
    <h1 class="exp-text">¿De que se trata este producto?</h1>

    <div class="slidershow middle">
       <div class="slides">
           <input type="radio" name="r" id="r1" checked>
           <input type="radio" name="r" id="r2">
           <input type="radio" name="r" id="r2">

        <div class="slides s1">
            <img src="image/sofa.jpg">
        </div>

        <div class="slides">
            <img src="image/business.jpg">
        </div>

        <div class="slides">
            <img src="image/casa.jpg">
        </div>
        <div class="navi">
            <label for="r1" class="bar"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
        </div>

       </div>
        </div>
     
    
</body>
</html>