<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%title%></title>
    <%include partials/head.html%>
</head>
<%include partials/navbar.html%>

<body>
    <div class="patagon">
        <embed src="image/rain.mp4">
    </div>
    <div class="innovacion">
        <div class="container2">
            <div class="imgB">
            </div>
            <div class="details2">
                <div class="content2">
                    <h2> Patagonia Increible<br><span>
                            <br>
                            Viaja a un lugar extraordinario, lo unico que debes hacer es estar aca.
                        </span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="increible">
        <div class="container3">
            <div class="imgBx">
            </div>

            <div class="details3">
                <div class="content3">
                    <h2>Planear un viaje debería ser fácil<br><span>
                            
                        </span>
                    </h2>
                    <p> Las aventuras deben estar al alcance de todos. Lo unico que necesitas es al guia correcto.
                         Es por eso que las aventuras en Market Patagonia estan organizadas por expertos con experiencias en todos 
                         los lugares que esta parte del planeta. Creamos viajes personalizados para todos, desde los novatos hasta los experimentados
                         excursionistas, y para una variedad de presupuestos, intereses y ubicaciones. Y todo esta planeado de antemano, asi que solo tienes que 
                         venir.
                    </p>

                </div>
            </div>
        </div>
        

</body>

</html>