<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport"
                content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <?xml version="1.0" encoding="UTF-8"?>
        <title><%=title%></title>
        <%include partials/head.html%>
</head>

<!--Header-->
<div class="navegador">
        <%include partials/navbar.html%>
</div>
<div class="index">

        <header>

                <div class="textos1">
                        <h1></h1>
                        <h3></h3>
                </div>
        </header>

        <div class="mkt">
                <div class="descubre">Gana dinero con nosotros, enterate como
                <div class="descubre1"><h4>Descubre como aumentar tus ingresos </h4></div>
        </div>
        </div>

        <div id="reservas">
                <img src="image/ventas4.jpg" alt="">           
        </div>
        <!--nuestros servicios-->
        <%include partials/portafolio.html%>
        </body>
</div>

</html>