<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%=title%></title>
        <% include partials/head.html %>
        <style>
                body {
                        font-family: 'Ubuntu', sans-serif;
                }
        </style>
</head>

<body>
        <header>
  <div class="row">
  <div class="container-invierte">
 <% include partials/navigation.html %>
 <div class="col-md-12" id="parrafo">

 </div>
 <div class="col-md-12" id="parrafo1">
<h1>Inversión</h1>
<h2>En Patagonia Market, vas a encontrar una variedad,</h2>
</div>
</div>
   </div>
</header>
<hr>
<div class="container" id="inv">
        <div class="box-inv1">
                <div class="imgBox">
                        <img src="image/sofa.jpg">
                </div>
                <div class="details-inv">
                  <div class="content-inv">
                 <h2 class="linea">Salmon Chileno</h2>
              <p>Lorem ipsum dolor sit amet
  consectetur adipisicing elit. Ullam fugiat ipsa magni commodi autem numquam?</p>
                        </div>
                        <a href="#" ><button class="btn-inv">Ver Oferta</button></a>
                </div>
        </div>
        <div class="box-inv1">
                <div class="imgBox">
                        <img src="image/market.jpg">
                </div>
                <div class="details-inv">
                  <div class="content-inv">
                 <h2 class="linea">lorem</h2>
              <p>Lorem ipsum dolor sit amet
  consectetur adipisicing elit. Ullam fugiat ipsa magni commodi autem numquam?</p>
                        </div>
                        <a href="#" ><button class="btn-inv">Ver Oferta</button></a>
                </div>
        </div>

        <div class="box-inv1">
                <div class="imgBox">
                        <img src="image/inversion.jpg">
                </div>
                <div class="details-inv">
                  <div class="content-inv">
                 <h2 class="linea">lorem</h2>
              <p>Lorem ipsum dolor sit amet
  consectetur adipisicing elit. Ullam fugiat ipsa magni commodi autem numquam?</p>
                        </div>
                        <a href="#" ><button class="btn-inv">Ver Oferta</button></a>
                </div>
        </div>
        <div class="box-inv1">
                <div class="imgBox">
                        <img src="image/market1.jpg">
                </div>
                <div class="details-inv">
                  <div class="content-inv">
                 <h2 class="linea">lorem</h2>
              <p>Lorem ipsum dolor sit amet
  consectetur adipisicing elit. Ullam fugiat ipsa magni commodi autem numquam?</p>
                        </div>
                        <a href="#" ><button class="btn-inv">Ver Oferta</button></a>
                </div>
        </div>
        <div class="box-inv1">
                <div class="imgBox">
                        <img src="image/negocio3.jpg">
                </div>
                <div class="details-inv">
                  <div class="content-inv">
                 <h2 class="linea">lorem</h2>
              <p>Lorem ipsum dolor sit amet
  consectetur adipisicing elit. Ullam fugiat ipsa magni commodi autem numquam?</p>
                        </div>
                        <a href="#" ><button class="btn-inv">Ver Oferta</button></a>
                </div>
        </div>
        <div class="box-inv1">
                <div class="imgBox">
                        <img src="image/negocio4.jpg">
                </div>
                <div class="details-inv">
                  <div class="content-inv">
                 <h2 class="linea">lorem</h2>
              <p>Lorem ipsum dolor sit amet
  consectetur adipisicing elit. Ullam fugiat ipsa magni commodi autem numquam?</p>
                        </div>
                        <a href="#" ><button class="btn-inv">Ver Oferta</button></a>
                </div>
        </div>    
        <div class="box-inv1">
                <div class="imgBox">
                        <img src="image/negocio4.jpg">
                </div>
                <div class="details-inv">
                  <div class="content-inv">
                 <h2 class="linea">lorem</h2>
              <p>Lorem ipsum dolor sit amet
  consectetur adipisicing elit. Ullam fugiat ipsa magni commodi autem numquam?</p>
                        </div>
                        <a href="#" ><button class="btn-inv">Ver Oferta</button></a>
                </div>
        </div>    
        
</div>
     
        
             
</body>


</html>