<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%=title%></title>
        <% include partials/head.html %>
                <div class="arriba">                          
                <div id="tab" class="tab">
                <div class="contenedor-tab">
                 <div class="img">
                 <img src="" alt="">
                </div>
                 <div class="enl" id="enl">
                 <a href="/" id="enlaces-inicio" class="btn-header">Inicio</a>
                <a href="/invierte" id="enlaces-invierte" class="btn-header">Quienes Somos</a>
                <a href="/ventas" id="enlaces-ventas" class="btn-header">Ventas</a>
                 <a href="/Terminos" id="enlaces-reglas" class="btn-header">Reglas Claras</a>
                 <a href="/contact" id="enlaces-suscribete" class="btn-header">Suscribete</a>
                 </div>
                 </div>
                </div>
        </head>
<body class="quienes-somos">
        <div class="container1">
                <div class="imgBx">
                        <img src="image/tecno1.jpg">
                </div>

                <div class="details1">
                        <div class="content1">
                                <h2>Quienes Somos<br><span>
                                                Market Patagonia
                                        </span>
                                </h2>
                                <p>Market Patagonia, es una empresa dedicada a la Exportación de productos y servicios Patagónicos.
                                Hemos participado de giras comerciales a  Brasil, Argentina, y tambien fuimos 
                                parte de la Macro Rueda de negocios de la Alianza del Pacifico en Santiago de Chile.
                                 Contamos con socios estratégicos en Países como Colombia,Brasil, Argentina, Mexico y Perú.
                                 Nuestros clientes son Supermercados, Restoranes, Importadores y Tiendas especializadas.

                                </p>

                        </div>
                </div>
        </div>
        <hr>
        <div class="innovacion">
         <div class="container2">
                 <div class="imgBox">
                      <img src="image/create.jpg">   
                 </div>
                 <div class="details2">
                         <div class="content2">
                           <h2>Desarrollo y Mantenimiento<br><span>
                                Market Patagonia 
                           </span>
                        </h2>
                        <p> En Market Patagonia conocemos la importancia de tener una buena presencia en la web
                         y sabemos que esto no funciona sin una buena auditoria y asesoramiento de las herramientas 
                         que deben usar. Usabilidad, SEO, Adwords, First Mobile, Responsive. Son algunas de las areas 
                         que podemos asesorarte.
                          Bases de Datos, trabajamos con lenguajes de programacion como MongoDB, PHP, SQL. 

                        </p> 
                         </div>
                 </div>
         </div>
        </div>
         <hr>
</body>

</html>