<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <% include partials/head.html %>
    <style>
    body {
      font-family: 'Ubuntu', sans-serif;
    }
    </style>
</head>
<body>
        <header>
                <div class="row">      
                    <div class="container-invierte">
                            <% include partials/navigation.html %>
                            <div class="col-sm-8" id="parrafo">
                               
                            </div>
                            <div class="col-sm-4" id="parrafo1">
                                    <h1>Analisis de Mercados</h1>
                                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat est similique officia? Esse cupiditate asperiores cum nam optio. 
                                        Quos, culpa.</h2>
                                 </div>
                            </div>
        
                    </div>
                
    
</body>
<%include partials/footer.html%>
</html>