<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%title%></title>
    <%include partials/head.html%>
</head>
<%include partials/navbar.html%>
<body>
    <div class="patagon">
        <embed src="image/mountain.mp4">
    </div>
    <div class="innovacion">
        <div class="container2">
            <div class="imgB">
            </div>
            <div class="details2">
                <div class="content2">
                    <h2>Comparte tu pasión<br> <br>con el mundo<br><span>
                            
                            
                        </span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <%include partials/portafolio.html%>
</body>
</html>