<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
    
    <title>
        <%=title%>
    </title>
    <% include partials/head.html %>
    <style>
        body {
            font-family: 'Ubuntu', sans-serif;
        }
    </style>
</head>
<header>

    <div class="container-market">
        <% include partials/navigation.html%>
        <div class="slider">
        <ul>
            <div class="slider">       
            <li><img src="image/negocios.jpg" alt=""></li>
            <section id="flex-caption">
                <p>Lorem ipsum dolor sit amet.</p>
            </section>
            
           
            
            </div>
            <div class="slider">
            <li><img src="image/negocios2.jpg" alt=""></li>
            <section id="flex-caption">
                    <p>Lorem ipsum dolor sit amet.</p>
                </section>
            
            </div>
            <div class="slider">
            <li><img src="image/negocio3.jpg" alt=""></li> 
            <section id="flex-caption">
                    <p>Lorem ipsum dolor sit amet.</p>
                </section>
            </div>
        </ul>
    </div>
    </div>
    </header>
    <body>
        <div class="container" id="article">
            <div class="col-md-12">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Sit, hic!</p>
            </div>
        </div>

    </body>




</html>