<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <% include partials/head.html %>
    <style>
    body {
      font-family: 'Ubuntu', sans-serif;
    }
    </style>
</head>
<body>
    <header>
        <div class="row">
            <div class="container-market">
                    <% include partials/navigation.html %>
                    <div class="col-sm-8" id="parrafo">
                    </div>
                    <div class="col-sm-4" id="parrafo2">
                      <h1><%=title%></h1>
                      <h2>En esta plataforma vas a encontrar diferentes productos, y negocios 
                          en la Patagonia
                      </h2>
                    </div>
                </div>
            </div>
        
    
    <div class="contenedor">
        <ul>
            <li><div class="title">header</div> </li>
            <li><div class="title">header</div></li>
            <li><div class="title">header</div></li>
            <li><div class="title">header</div></li>
            <li><div class="title">header</div></li>
            <li><div class="title">header</div></li>
            <li><div class="title">header</div></li>
            <li><div class="title">header</div></li>
            
        </ul>
    </div>
</header>
</body>
<% include partials/footer.html%>
</html>