

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        <%=title%>
    </title>
    <%include partials/head.html%>

</head>
<%include partials/navbar.html%>

<header1>
    <div class="textos">
        <div class="titulos">
            <h1>Una nueva forma de vender</h1>
        </div>

    </div>
    </div>
    <div class="sesgoabajo"></div>
</header1>

<section class="acerca-de">
    <div class="contenedor">
        <h2 class="sobre-nosotros">¿Por que nosotros?</h2>
        <hr>
        <h3 class="titulo-1">Queremos hacerle la vida más fácil a los Productores y Servicios</h3>
        <p class="parrafo-1">Al igual que vos nosotros tambien somos consumidores, es por eso que creamos
            una plataforma en la cual puedas encontrar en tiempo real ofertas y beneficios. Market Patagonia
            trabaja con distintos tipos de productos y servicios para mejorar la experiencias en la Patagonia.

        </p>
        <h3 class="titulo-1">Conocemos la Patagonia</h3>
        <p class="parrafo-1">Somos nacidos y criados aca,sabemos disfrutar de los mejores lugares, lagos, montañas en
            todas las
            estaciones del año y sabemos como aprovecharlos y que hacer, sabemos
            de sabores y los lugares para relajarse. Es por eso que trabajamos con empresarios que tienen la misma
            filosofia.
        </p>
        <h3 class="titulo-1">¿Donde estamos?</h3>
        <p class="parrafo-1">Estamos en San martin de los andes, Provincia del Neuquen, Argentina. </p>
        <h3 class="titulo-1">Ventajas para los empresarios</h3>
        <p class="parrafo-1">Market Patagonia es una plataforma que trabaja con los productores y turismo para que los
            visitantes
            tengan una experiencia increíble.

            Creamos herrammientas para generar mas negocios y mejorar la forma de gestionar las mismas.

            Queremos acercar mas clientes a la Patagonia y para ello le damos la posibilidad de comprar
            todos los dias y las 24 horas por medio de nuestra web.

            Los empresarios que trabajan con nosotros tienen informacion por medio de nuestros datos.

            <div class="it">
                <li>
                    Diseñar Campañas de marketing y dirigirlas a un publico mas indicado.
                </li>
                <li>
                    Personalizar la experiencia de sus clientes.
                </li>
                <li>
                    Construir estrategias de compras.
                </li>
                <br>
                <a href="mailto:marketpatagon@gmail">¡Si tienes un negocio contactanos!</a>    
            </div>
        </p>
        <div class="ventaja">
            <h4>Ventajas para el usuarios</h4>
            <h5>Confiable</h5>
            <p>Te brindamos toda la informacion de los lugares y servicios para disfrutar de salidas unicas:
                como llegar, rangos de precios, fotos y mucho mas. Para que pases momentos inolvidables.
            </p>
            <h5>Simple</h5>
            <p>Market Patagonia tienes toda la informacion en un mismo lugar, y en unos pocos pasos compras 
                o reservas tus productos, Nuestro equipo se encarga que ofrecerte lo que necesitas.
            </p>
            <h5>Gratuito</h5>
            <p>Este servicio de cotizaciones no tiene costo.</p>
        </div>
        
    </div>
</section>
<section class="galeria">

    <div class="imagenes">

        <img src="image/terminos.jpg" alt="">
    </div>
    <div class="imagenes">
        <img src="image/resumen1.jpg" alt="">
    </div>
    <div class="imagenes">
        <img src="image/terminos1.jpg" alt="">
    </div>
    <div class="imagenes">
        <img src="image/negocios2.jpg" alt="">
    </div>
    </div>
    </main>
</section>
</body>
</html>