<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%></title>
  <% include partials/head.html %>
</head>
<%include partials/navbar.html%>

<body>
  <div class="textos-vtn">
    <div class="titulos-vtn">
      <h1>Innovacion, y Escalabilidad</h1>
      <p>Todos los dias nos preocupamos de hacer <br>
        esta plataforma mas innovadora y escalable,<br>
        para que tus productos lleguen a mas clientes.</p>
    </div>
  </div>
  
<div class="quienes-somos">
  <div class="container1">
          <div class="imgBx">
                  <img src="image/logo4.png"><a href="/">
                          <p class="luxe">Lugares y servicios verificados con los mejores precios para tu familia.</p>
                          <h5>Ver Informacion de nuestros productos -></h5>
                  </a>
          </div>
          <div class="details1">
                  <div class="content1">

                          <img src="image/sofa.jpg">
                          <p>
                          </p>
                  </div>
          </div>
  </div>
</div>
<div class="fill">
  <h1>¡Gana dinero con nosotros!</h1>

<div class="textos-vtn-1">
  <div class="titulos-vtn-1">
    <h1>¡Ofrece una experiencia inolvidable!</h1>
    <p>Tus actividades diseñadas y organizadas para que muestres con orgullo
      tus productos y servicios a traves de esta experiencia.
    </p>
  </div>
</div>
</div>
<%include partials/footer.html%>
</body>

</html>