<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <%include partials/head.html%>
  <title>Productos1</title>
</head>
<%include partials/navbar.html%>
<div class="vender">
  <div class="container-product">
    <div class="col-md-6" id="product1">
      <img src="image/casa.jpg" alt="">
      <br>
      <br>
      <img src="image/sofa.jpg" alt="#">
    </div>
    <div class="container-producto">
      <div class="col-md-6" id="product-t">
        <h1>Nombre del producto</h1>
        <p><i class="fas fa-shopping-bag"></i></p>
        <p>Detalles del producto</p>
        <h4>Publica tu proyecto en Market Patagonia</h4>
        <button class="precio-product">$500 pesos</button>
        <br>
        <button class="comprar"><a href="mailto:catalanmilton826@gmail.com">!Quiero Comprar!</button>
        <hr>
        <div class="row-product">
          <a class="btn1" href="https://www.facebook.com/Patagonia-MKT-1807552722879110/" target="blank"><i
              class="fab fa-facebook"></i></a>
        </div>
        <div class="row-product">
          <a class="btn1" href="https://www.instagram.com/marketpatagonia/" target="blank">
            <i class="fab fa-instagram"></i></a>
        </div>
        <div class="row-product">
          <a class="btn1" href="https://twitter.com/StoreAndina" target="blank">
            <i class="fab fa-twitter-square"></i></a>
        </div>
        <div class="row-product">
          <a class="btn1" href="https://www.linkedin.com/in/miltoncat/" target="blank">
            <i class="fab fa-linkedin"></i></a>
        </div>
        <div class="row-product">
          <a class="btn1" href="https://www.pinterest.com/in/miltoncat/" target="blank">
            <i class="fab fa-pinterest"></i></a>
        </div>

      </div>

    </div>

  </div>

</div>
<br>
<br>
<br>
<br>
<div class="container-product1">
  <div class="col-xl-6" id="debes-saber">
    <h1>Lo que debes saber</h1>
    <hr>
    <h4>Nombre de Producto</h4>
    <br>
    <h5>Que Incluye</h5>
    <li>Incluye estos contenido</li>
    <li>Incluye estos productos</li>
    <br>
    <h4>Caracteristicas</h4>
    <p>Las Caracteristicas del productos </p>
  </div>
  <h1 class="linea-effect"></h1>
  <div class="col-md-6" id="reglas-claras">
    <h1>Reglas Claras</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consequatur dolores facilis eveniet tenetur
      libero quia debitis earum, corporis vel magni reprehenderit quod natus error sed minus? Ducimus possimus
      corrupti est saepe ea eaque ut quo suscipit numquam
      ipsa blanditiis vero accusamus expedita veritatis inventore explicabo aliquam, architecto, alias recusandae.</p>

  </div>
</div>
</div>
</div>
</div>
</div>


</body>
<%include partials/footer.html%>

</html>