<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%include partials/head.html%>
    <title>Productos1</title>

</head>
<body>
  <%include partials/navigation.html%>
  <div class="contendor-p">
    <main class="contenido-p">
   <img src="image/resumen1.jpg"></i>
   <h4>Detalles </h4>
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem earum fugit quasi officia quas cum.</p>
     </main>
    </div>
  
   
</body>
</html>