<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        <%=title%>
    </title>
    <%include partials/head.html%>

</head>

<body class="arriba">
    <div id="tab" class="tab">
        <div class="contenedor-tab">
            <div class="img">
                <img src="" alt="">
            </div>
            <div class="enl" id="enl">
                <a href="/" id="enlaces-inicio" class="btn-header">Inicio</a>
                <a href="/invierte" id="enlaces-invierte" class="btn-header">Quienes Somos</a>
                <a href="/ventas" id="enlaces-ventas" class="btn-header">Ventas</a>
                <a href="/Terminos" id="enlaces-reglas" class="btn-header">Reglas Claras</a>
                <a href="/contact" id="enlaces-suscribete" class="btn-header">Suscribete</a>
            </div>

        </div>
    </div>

    <header1>
        <div class="textos">
            <h1 class="titulos"></h1>

        </div>
        </div>
        <div class="sesgoabajo"></div>
    </header1>

    <section class="acerca-de">
        <div class="contenedor">
            <h2 class="sobre-nosotros">Preguntas Frecuentes</h2>
            <hr>
            <h3 class="titulo-1">¿Como puedo comprar?</h3>
            <p class="parrafo-1">Para comprar solos debes elegir tu producto, presionar el boton de comprar,
                con eso te llevara a un correo donde nos debes indicar lo que deseas y nosotros por medio del mismo
                correo
                te ayudaremos a mejorar tu experiencia como cliente, entregandote fechas de llegada del producto y
                solucionando las dudas, si es
                un boucher saber como debes hacerlo efectivo.
            </p>
            <h3 class="titulo-1">¿El pago es seguro?</h3>
            <p class="parrafo-1">El pago es seguro por que por medio de los correos hacemos que la transaccion sea mas
                personalizada.
            </p>
            <h3 class="titulo-1">¿Donde estan localizados?</h3>
            <p class="parrafo-1">Estamos en San martin de los andes, Provincia del Neuquen.
            </p>
            <h3 class="titulo-1">¿Por que comprar con nosotros?</h3>
            <p class="parrafo-1">Por que ponemos especial atencion en los productos, ya que hacemos
                negocios directamente con los productores, sin intermediarios, optimizamos el envio
                y buscamos los mejores precios en cada producto, si tu intencion es visitarnos y comprar
                tus productos o servicios con anterioridad, te entregamos todas las experiencias con el productor y
                prestador del servicios.
            </p>
        </div>
    </section>
    <section class="galeria">

        <div class="imagenes">

            <img src="image/terminos.jpg" alt="">
        </div>
        <div class="imagenes">
            <img src="image/resumen1.jpg" alt="">
        </div>
        <div class="imagenes">
            <img src="image/terminos1.jpg" alt="">
        </div>
        <div class="imagenes">
            <img src="image/negocios2.jpg" alt="">

        </div>
        
        </div>
   
    </main>
   </section>
</body>
</html>
