<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        <%=title%>
    </title>
    <%include partials/head.html%>

</head>

<body>
    <%include partials/navigation.html%>
    <header1>
        <div class="textos">
            <h1 class="titulos">Reglas Claras</h1>
        
        </div>
        </div>
        <div class="sesgoabajo"></div>
    </header1>
    <main>
        <section class="acerca-de">
            <div class="contenedor">
                <h2 class="sobre-nosotros">Preguntas Frecuentes</h2>
              <hr>
                <h3 class="titulo-1">¿Como puedo comprar?</h3>
                <p class="parrafo-1">Para comprar debes inscribirte, luego haces tu pedido,
                    nosotros nos contactamos con el productor y organizamos en envio, el dinero queda en 
                    nuestras cuentas hasta que el pedido sea enviado.
                </p>
                <h3 class="titulo-1">¿El pago es seguro?</h3>
                <p class="parrafo-1">Ofrecemos varios modos de pago, podria ser Paypal o por deposito
                    bancario, una vez recibido el pago enviamos un correo con la confirmacion,
                    lo cual garantiza que estas comprando algo.
                </p>
                <h3 class="titulo-1">¿Donde estan localizados?</h3>
                <p class="parrafo-1">Estamos en San martin de los andes, Provincia del Neuquen.
                </p>
                <h3 class="titulo-1">¿Por que comprar con nosotros?</h3>
                <p class="parrafo-1">Por que ponemos especial atencion en los productos, ya que hacemos 
                    negocios directamente con los productores, sin intermediarios, optimizamos el envio 
                    y buscamos los mejores precios en cada producto.
                </p>
            </div>
        </section>
        <section class="galeria">
            
            <div class="imagenes">
                  
                <img src="image/terminos.jpg" alt="">
            </div>
            <div class="imagenes">
                <img src="image/resumen1.jpg" alt="">
            </div>
            <div class="imagenes">
                <img src="image/terminos1.jpg" alt="">
            </div>
            <div class="imagenes">
                <img src="image/negocios2.jpg" alt="">
               
            </div>  
            
        </div>
          </section>
         
    </main>
    <hr>
    <div class="container" id="terminos">
            <h1>Terminos y Condiciones</h1>
            <div class="col-sm-6" id="item1">
                <p>Lorem ipsum dolor sit amet consectetur,
                     adipisicing elit. Mollitia dignissimos eaque dolorum in, modi ab minima aperiam doloremque nesciunt nulla.</p>
            </div>
            <div class="col-sm-6" id="item2">
                    <p>Lorem ipsum dolor sit amet consectetur,
                         adipisicing elit. Mollitia dignissimos eaque dolorum in, modi ab minima aperiam doloremque nesciunt nulla.</p>
                </div>

        
    </div>
   
  

</body>
<%include partials/footer.html%>


</html>
