<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        <%=title%>
    </title>
    <%include partials/head.html%>

</head>

<body>
    <%include partials/navigation.html%>
    <header1>
        <div class="textos">
            <h1 class="titulos"></h1>
        
        </div>
        </div>
        <div class="sesgoabajo"></div>
    </header1>
    
        <section class="acerca-de">
            <div class="contenedor">
                <h2 class="sobre-nosotros">Preguntas Frecuentes</h2>
              <hr>
                <h3 class="titulo-1">¿Como puedo comprar?</h3>
                <p class="parrafo-1">Para comprar solos debes elegir tu producto, presionar el boton de comprar,
                    con eso te llevara a un correo donde nos debes indicar lo que deseas y nosotros por medio del mismo correo 
                    te ayudaremos a mejorar tu experiencia como cliente, entregandote fechas de llegada del producto y solucionando las dudas, si es 
                    un boucher saber como debes hacerlo efectivo.
                </p>
                <h3 class="titulo-1">¿El pago es seguro?</h3>
                <p class="parrafo-1">El pago es seguro por que por medio de los correos hacemos que la transaccion sea mas 
                    personalizada.
                </p>
                <h3 class="titulo-1">¿Donde estan localizados?</h3>
                <p class="parrafo-1">Estamos en San martin de los andes, Provincia del Neuquen.
                </p>
                <h3 class="titulo-1">¿Por que comprar con nosotros?</h3>
                <p class="parrafo-1">Por que ponemos especial atencion en los productos, ya que hacemos 
                    negocios directamente con los productores, sin intermediarios, optimizamos el envio 
                    y buscamos los mejores precios en cada producto, si tu intencion es visitarnos y comprar 
                    tus productos o servicios con anterioridad, te entregamos todas las experiencias con el productor y prestador del servicios.
                </p>
            </div>
        </section>
        <section class="galeria">
            
            <div class="imagenes">
                  
                <img src="image/terminos.jpg" alt="">
            </div>
            <div class="imagenes">
                <img src="image/resumen1.jpg" alt="">
            </div>
            <div class="imagenes">
                <img src="image/terminos1.jpg" alt="">
            </div>
            <div class="imagenes">
                <img src="image/negocios2.jpg" alt="">
               
            </div>  
            
        </div>
          </section>
         
    </main>
       
<hr>
<div class="container" id="terminos">
        <h1>Terminos y Condiciones</h1>
        <div class="col-sm-6" id="item1">
            <p>Este contrato describe los Términos y Condiciones generales(en adelante, los "Términos y Condiciones")
                 aplicables al uso de los servicios (en adelante, "los Servicios) ofrecidos por Market Patagonia ( en adelante Market Patagonia)
                  dentro del sitio
                wwww.marketpatagonia.com( en adelante el "El sitio") y la plataforma Marketplace que brinda servicios interactivo de intermediación de productos de terceros, por medio de la publicación de ofertas y promociones de bienes (en adelante “MARKETPLACE”).
                 Y serán referidos indistintamente, como Market Patagonia y la persona física o moral que venda sus productos (en adelante “COMPRADOR”). 
                Cualquier “COMPRADOR” que desee acceder y/o usar el Sitio o los servicios podra hacerlo sujetandose a los Terminos y Condiciones Generales,
                 junto con todas las demas politicas, avisos y principios que rigen en Market Patagonia y que son incorporados al presente.
                  Cualquier cliente de PatagoniaMKT que no acepte estos terminos y condiciones generales, los cuales tienen caracter obligatorio y vinculante, debera abstenerse de utilizar el sitio
                  y/o los servicios.
                  Los servicios solo estan disponibles para personas que tengan capacidad legal para contratar. No podran utilizar los servicios las personas que no tengan
                  esa capacidad.
                   El Socio de Market Patagonia, debe tener capacidad para ofrecer sus productos como persona fisica o moral y de obligar a la misma en los terminos
                   de este acuerdo.

                   Plataforma
                   Uso de Marketplace 
                   Para poder utilizar la plataforma MARKETPLACE que se encuentra dentro del Sitio debes de tener 18 años de edad o en su caso estar accediendo bajo la supervisión y consentimiento de tus padres,
                    de quien detente el legar ejercicio de la patria potestad, guarda y custodia o bien de tutor legal si es el caso. 
                     
                El uso comercial o el nombre de terceros están prohibidos, salvo lo expresamente permitido por nosotros con anterioridad, cualquier infracción
                 de estos Términos y Condiciones dará lugar a la revocación inmediata de la licencia otorgada en este apartado, sin previo aviso. 
                Si se verificará o sospechará un uso fraudulento y/o malintencionado y/o contrario a estos Términos y Condiciones y/o contrarios
                 a la buena fe, Market Patagonia tendrá el derecho inapelable de dar por terminada la relación, 
                 dar de baja las cuentas y hasta colaborar judicialmente para la persecución a los infractores. 

                 Si se verificará o sospechará un uso fraudulento y/o malintencionado y/o contrario a estos Términos y Condiciones y/o contrarios a la buena fe, NOKNOC tendrá el derecho inapelable de dar por terminada la relación,
                  dar de baja las cuentas y hasta colaborar judicialmente para la persecución a los infractores. 
                  Descripción 
                  MARKETPLACE es una plataforma comercial a través de la cual el Sitio, brinda un servicio interactivo
                   de intermediación de productos de terceros, por medio de la publicación de ofertas y promociones de bienes. 
                   A través de la plataforma MARKETPLACE, terceras personas denominadas SOCIO Market Patagonia, ofertan de forma directa y por su cuenta, 
                   diversos productos contando con todo el respaldo y seguridad del Sitio, bajo el siguiente esquema: 
                   El SOCIO Market patagonia oferta sus productos de forma directa en el Sitio, previa verificación por parte de PatagoniaMKT de la calidad,
                    disponibilidad, confiabilidad entre otros de los productos ofertados. 
                    Los productos ofertados por el SOCIO  Market Patagonia bajo la plataforma MARKETPLACE,
                     serán plenamente identificados, toda vez que con toda claridad aparecerá una leyenda
                      que indicará que el producto que se oferta se hace bajo la modalidad de la plataforma, asimismo se indicará el nombre de la persona (física o moral), que oferta el producto, el cual será plenamente responsable de la gestión de la venta del producto,
                     esto con independencia de las responsabilidades inherentes del uso del Sitio. 
                     Los productos ofertados por el SOCIO Market Patagonia, serán entregados directamente por Market Patagonia , en todo caso al momento de realizarse la compra se le indicará al Comprador con toda claridad quien será el encargado de la entrega del producto,
                      así como los tiempos estimados de entrega. 
                      El SOCIO Market Patagonia que oferte productos en la Plataforma MARKETPLACE, pondrá a disposición de los Compradores, 
                      información de los productos que de forma enunciativa más no limitativa se refieren a continuación 
                      El uso de MARKETPLACE se encuentra sujeta a la aceptación de los Términos y Condiciones de uso del Sitio,
                      por lo que su aceptación es necesaria para poder adquirir productos ofertados en la plataforma. 
                      Utilización de medios de Pago 
                      Artículos Prohibidos. 
                     Sólo podrán ser ingresados en las listas de productos ofrecidos, aquellos cuya venta no se encuentre tácita o 
                     expresamente prohibida en los Términos y Condiciones y demás políticas de PatagoniaMKT o por la ley vigente. 
                     Para obtener más información sobre artículos o servicios prohibidos, se pueden consultar las Políticas
                      de Artículos Prohibidos de Market Patagonia. 

                      Comunicaciones del comprador 

                      Cualquier comunicación que el comprador envié al Sitio, en relación a la plataforma MARKETPLACE, incluyéndose
                       de forma enunciativa más no limitativa, preguntas, críticas, comentarios, sugerencias se convertirá en nuestra 
                       única y exclusiva propiedad y no serán devueltos, salvo que medie orden judicial, asimismo cuando se remita 
                       comentarios o críticas al Sitio, también nos concedes el derecho a utilizar el nombre enviado, en el marco de 
                       dicha revisión, comentario, o cualquier otro contenido, por último, cabe mencionar que, no se debe usar una 
                       dirección de correo electrónico falsa, es decir, tener una identidad falsa 
                       Así mismo serán propiedad de Market Patagonia y no serán devueltos salvo que medie orden judicial, los datos que los Compradores
                        envíen al Sitio web , en relación a la plataforma MARKETPLACE para registrar diversas cuentas con la finalidad de verse
                         beneficiados con las promociones de nuevos Compradores, dichas cuentas serán anuladas y dadas de baja inmediatamente,
                          cualquier beneficio o promoción que se haya intentado redimir será cancelado y el Comprador que haya intentado obtener 
                          el beneficio, se le podrá revocar la licencia que se le otorgo al momento de la suscripción, procediendo a cancelar cualquier
                           pedido de productos que hubiera realizado, sin ningún tipo de responsabilidad. 
                           Modificaciones del Acuerdo 
                           Market Patagonia podrá modificar los Términos y Condiciones en cualquier momento haciendo públicos en el Sitio los
                           términos modificados. Todos los términos modificados entrarán en vigor a los 10 (diez) días de su publicación.
                       

              </p>
        </div>
        <div class="col-sm-6" id="item2">
                <p>
                     Protección de Propiedad Intelectual 
                 En caso de que PatagoniaMKT sospeche que se está cometiendo o se ha cometido una actividad ilícita o infractora de
                                   derechos de propiedad intelectual o industrial, PatagoniaMKT se reserva el derecho de adoptar todas las medidas que entienda adecuadas,
                                    y otros titulares de estos derechos a algunos de sus datos personales tal y como se describe en el Aviso de Privacidad. 
                                    Responsabilidad 
                                    Hay casos en los cuales un pedido de compra puede no ser procesada por circunstancias ajenas a nosotros y las cuales no pueden ser previstas,
                                     circunstancias en las cuales interviene la fuerza mayor o el caso fortuito, en ese sentido, www.marketpatagonia.com, informara al comprador de inmediato
                                      el motivo por el cual no fue posible procesar su pedido, restituyendo cualquier cantidad cobrada al suscriptor, dejando claro que en este proceso se puede 
                                      pedir información adicional para completar el proceso de reembolso. Responsabilidad 
                                      Hay casos en los cuales un pedido de compra puede no ser procesada por circunstancias ajenas a nosotros y las cuales no pueden ser previstas, circunstancias
                                       en las cuales interviene la fuerza mayor o el caso fortuito, en ese sentido, www.marketpatagonia.com, informara al comprador de inmediato el
                                        motivo por el cual no fue posible procesar su pedido, restituyendo cualquier cantidad cobrada al suscriptor, dejando claro que en este proceso se puede pedir
                                         información adicional para completar el proceso de reembolso. 
                                      Asimismo, se refiere que todos los productos ofertados en el sitio www.marketpatagonia.com, están sujetos a disponibilidad y se ofrecen a nuestros compradores hasta
                                       agotar existencias, por lo que puede darse el caso que un mismo producto pueda ser adquirido por varios clientes a la vez y al final del proceso de venta resulte 
                                       que el producto ya no se encuentre disponible por haberse agotado, aun y cuando aparezca en el Sitio, en cuyo caso se le informará al comprador de tal situación 
                                       procediendo al reembolso de cualquier cantidad pagada por el producto adquirido si es el caso o bien se le notificara de la imposibilidad de procesar el pedido. 
                                      Si derivado de algunos de los supuestos contemplados en el presente apartado, o de otras circunstancias, tuviéramos que reembolsar al comprador alguna cantidad de dinero,
                                       este reembolso previó consentimiento del comprador.  
                                       Violaciones del Sistema o Bases de Datos. 
                                No está permitida ninguna acción o uso de dispositivo, software, u otro medio tendiente a interferir tanto en las actividades y operatoria de PatagoniaMKT como en las ofertas,
                                 descripciones, cuentas o bases de datos de Market Patagonia. Cualquier intromisión, tentativa o actividad violatoria o contraria a las leyes sobre derecho de propiedad intelectual
                                  y/o a las prohibiciones estipuladas en este contrato harán pasible a su responsable de las acciones legales pertinentes, y a las sanciones previstas por este acuerdo,
                                   así como lo hará responsable de indemnizar los daños ocasionados.  
                                   PatagoniaMKT no se responsabiliza por cualquier daño, perjuicio o pérdida al SOCIO Market Patagonia causados por fallas en el sistema, en el servidor o en Internet.
                                   Market Patagonia tampoco será responsable por cualquier virus que pudiera infectar el equipo del SOCIO Market Patagonia como consecuencia del acceso, uso o examen de su 
                                    Sitio web o a raíz de cualquier transferencia de datos, archivos, imágenes, textos, o audio contenidos en el mismo. Los Socios Market Patagonia NO podrán imputarle responsabilidad 
                                    alguna ni exigir pago por lucro cesante, en virtud de perjuicios resultantes de dificultades técnicas o fallas en los sistemas o en Internet. Market Patagonia no garantiza el acceso 
                                    y uso continuado o ininterrumpido de su Sitio. El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por cualquier otra circunstancia 
                                    ajena a Market Patagonia; en tales casos se procurará restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad. Market Patagonia no será responsable 
                                    por ningún error u omisión contenidos en su Sitio web

                                     Uso de la información 
                                    La información solicitada nos permite contactar a los usuarios, cuando sea necesario para completar los procedimientos de compra/venta, responder dudas y comentarios. Asimismo, utilizaremos la información obtenida para: 

                                     
                                   Procurar un servicio eficiente 
                                   Generar una cuenta de acceso para realizar sus compras. 
                                   Informar sobre cambios, nuevos productos o servicios que están relacionados con el contratado o adquirido por el Comprador 
                                   Dar cumplimiento a obligaciones contraídas con nuestros Compradores. 
                                   Proveer una mejor atención al usuario. 
                                   Evaluar la calidad del servicio y realizar estudios internos sobre hábitos de consumo. 
                                   . Datos sensibles 
  
                              No recabamos datos sensibles, es decir, aquellos datos personales íntimos o cuya utilización debida o indebida pueda dar origen a discriminación 
                               o conlleve un riesgo grave para éste, relativo a origen racial o étnico, estado de salud presente y futuro, información genética,
                                creencias religiosas, filosóficas y morales, afiliación sindical, opiniones políticas o preferencia sexual.
                                Limitación de Uso y Divulgación de la Información 
  
                            En nuestro programa de notificación de promociones, ofertas y servicios a través de correo electrónico, sólo Market Patagonia tiene acceso a la información recabada. 
                             Este tipo de publicidad se 
                            realiza mediante avisos y mensajes promocionales de correo electrónico, los cuales sólo serán enviados a usted y a aquellos contactos registrados para tal propósito, 
                             esta indicación podrá usted modificarla en cualquier momento enviándonos un correo a contacto@marketpatagonia.com


                    </p>
            </div>

    
</div>



</body>



</html>
