<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%=title%>
  </title>
  <% include partials/head.html %>
  <style>
    body {
      font-family: 'Ubuntu', sans-serif;
    }
  </style>
</head>

<header class="row">
  <div class="container-ventas">
    <%include partials/navigation.html%>
    <div class="capa-transparente">
      <div class="container-detalles">
        <div class="detalles">
          <h1>Hace crecer tus negocios al ritmo de tus sueños.</h1>
          <h3>¿Como comienzo a ofrecer mis servicios?</h3>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="row">
  <div id="derecha">
    <div class="col-sm-4">
      <i class="fas fa-edit fa-6x" id="icons"></i>
      <h2>Evaluamos tu Producto</h2>
    </div>
  </div>

  <div id="centro">
    <div class="col-sm-4">
      <i class="fas fa-desktop fa-6x" id="icons"></i>
      <h2>Publicamos tu oferta</h2>
    </div>
  </div>
  <div id="izquierda">
    <div class="col-sm-4">
      <i class="far fa-handshake fa-6x" id="icons"></i>
      <h2>Preparate para vender!!</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="container" id="banner">
    <button ></button>
  </div>
</div>

<div class="container">
  <div id="copy">
    <div class="col-lg-12">
      <h2>¿Por que elegirnos?</h2>
      <p>Somos una empresa joven pero con experiencia,
        contamos con giras comerciales en distintos paises.
        Queremos que seas parte de este camino, y juntos cumplir nuestros sueños.</p>
    </div>
  </div>
</div>

<script src="jquery.js"></script>

</body>
<%include partials/footer.html%>
</html>