<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%=title%>
  </title>
  <% include partials/head.html %>
  <style>
      body {
              font-family:  sans-serif;
      }
</style>
 
</head>
<!--Header con navegacion-->
<div class="row">
        <div class="container-ventas">
                <% include partials/navigation.html %>
                <div class="col-sm-8" id="parf-venta">
                </div>
                <div class="col-sm-4" id="parf1-venta">
                        <h1>Ventas</h1>
                        <h2>En Patagonia Market, vas a encontrar una herramienta util
                          para promocionar tus productos. ¡Contactanos y publica con nosotros!
                        </h2>
                </div>
        </div>
<body>
<!--Texto indica como vender-->
  <div class="col-md-12" id="text-venta">
    <h1>¿Como comienzo a vender mis productos y servicios?</h1>
  </div>
  
<!--explicacion de como vender-->
  <div class="container">
    <div class="box">
<div class="icon"><i class="fas fa-file-signature"></i></div>
    <div class="content">
      <h3>Evaluacion</h3>
      <p>El primer paso es evaluar tu producto, y asi preparamos una oferta atractiva y motivadora.</p>
    </div>
  </div>
  <div class="box">
      <div class="icon"><i class="fas fa-laptop-code"></i></div>
          <div class="content">
            <h3>Diseñamos</h3>
            <p>Diseñamos tu propuesta, una vez lista la publicamos en nuestra plataforma y redes sociales.</p>
          </div>
        </div>
        <div class="box">
            <div class="icon"><i class="fas fa-chart-line"></i></div>
                <div class="content">
                  <h3>A Vender!!</h3>
                  <p>Aumenta tus ventas y gana mas visibilidad en un mercado mas amplio y exigente.</p>
                </div>
              </div>
              </div>
            </header>
                  
             

<!--¿Porque elegirnos?-->

<div class= "row" id="presentacion">
  <img src="image/ventas1.jpg" >
</div>
<div class="presentacion-info">
  <div class="presentacion-texto">
    <h1> Aumenta tu visibilidad</h1>
    <p>En Patagonia Market , te ofrecemos una nueva forma de comercializar tus productos y servicios,
      con mas campañas en redes sociales.
    </p>
  </div>
</div>

  </div>
<br>
<div class="textos-vtn">
    <div class="titulos-vtn">
    <h1>Innovacion, y Escalabilidad</h1>
    <p>Todos los dias nos preocupamos de hacer <br>
      esta plataforma mas innovadora y escalable,<br>
      para que tus productos lleguen a mas clientes.</p>
   </div>
</div>
</div>


</body>
<%include partials/footer.html%>
</html>