<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%=title%>
  </title>
  <% include partials/head.html %>
 
</head>
<!--Header con navegacion-->
<header class="row">
  <div class="container-ventas">
    <div class="capa-transparente">
        <%include partials/navigation.html%>
      <div class="container-detalles">
        <div class="detalles">
          <h1>Hace crecer tus negocios al ritmo de tus sueños.</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<body>
<!--Texto indica como vender-->
  <div class="text">
    <h1>¿Como comienzo a vender mis productos y servicios?</h1>
  </div>
<!--explicacion de como vender-->
  <div class="container">
    <div class="box">
<div class="icon"><i class="fas fa-file-signature"></i></div>
    <div class="content">
      <h3>Evaluacion</h3>
      <p>El primer paso es evaluar tu proyecto, asi juntos preparamos la campaña para que aumenten tus ventas.</p>
    </div>
  </div>
  <div class="box">
      <div class="icon"><i class="fas fa-laptop-code"></i></div>
          <div class="content">
            <h3>Diseñamos</h3>
            <p>Diseñamos tu propuesta, asi mejoramos y potenciamos tu producto o servicio.</p>
          </div>
        </div>
        <div class="box">
            <div class="icon"><i class="fas fa-chart-line"></i></div>
                <div class="content">
                  <h3>A Vender!!</h3>
                  <p>Aumenta tus ventas y gana mas visibilidad en un mercado mas amplio y exigente.</p>
                </div>
              </div>
              </div>
  <!--Banner -->
<div class="container" id="banner">
</div>
<!--¿Porque elegirnos?-->
<div class="container">
  <div id="copy">
    <div class="col-lg-12">
      <h2>¿Por que elegirnos?</h2>
      <p>Somos una empresa joven pero con experiencia,
        contamos con giras comerciales en distintos paises.
        Queremos que seas parte de este camino, y juntos cumplir nuestros sueños.</p>
    </div>
  </div>
</div>

<script src="jquery.js"></script>
<!-- JAVASCRIPT CDNS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
crossorigin="anonymous"></script>

</body>
<%include partials/footer.html%>
</html>