body{
    background:white;
    color:black;
    
}

div img{
    position: relative;
    width: 100%;
    height: 500px;
    padding-top: 10px;
    left:2px;
    right:2px ;
    margin: auto;  
}

header1 nav{
   position: relative;
   bottom:0;
   height:60px;
   line-height: 60px;
   width: 100%;
   background:none;
   
}
header1 nav a {
    color:white;
     
     padding-right: 50px;
    float:right;
   
}
.container-portada{
    width: 100%;
    height:600px;
    bottom:20px;
    background-image: url(../image/fotojuan.jpg);
    background-size: 130%;
    animation: movimiento 10s infinite linear;
    
}
@keyframes movimiento{
    from{
background-position: bottom left;
    }to{
background-position: top right;
    }
}
#titulo{
    width: 100%;
    height: 550px;
    top:50px;
    background-color:rgb(43, 149, 214);
    opacity: 0.8;
    float: left;
     
    
    padding-bottom: 50px;
}
#titulo h1{
    width: 100%;
    color:white;
    text-align: center;
     padding-top: 70px;
     
}
#titulo p{
    width: 100%;
    color:white;
    text-align: center;

}

#subtitulo{
    font-size: 90px;
    color: white;
    padding-top: 350px;
    padding-right: 100px;
    text-align: center;
    float:right;
}

.details button{
    padding: 10px 20px;
    font-size: 15px;
    background: none;
    border-bottom-style: none;
    border: 1px solid white;
    color:white;
    transition: all 300ms;
    cursor: pointer;
}
.details button:hover{
    background: white;
    color:black;
}
 #about{
    padding-bottom: 5px;
    width: 100%;
}
#about h3 {
    width: 100%;
    padding-top: 80px;
}

.btn{
    width: 200px;
    height: 60px;
    font-size: 24px;
    margin: auto;
    border-style: none;
    background: rgb(3, 51, 105);
    color: white;
    transition: all 300ms;
}
.btn:hover{
    background: rgb(61, 189, 240);
    transition: all 300ms;
    cursor: pointer;
}
.btn:active{
    background: lightskyblue;
    transition: all 100ms;
    transform: scale(1.2);
}

#about{
padding-top: 60px;
}
.container-ventas{
    width: 100%;
    height:550px;
    background-image: url(../image/resumen1.jpg);
    background-size: 100%;
   position: relative;
   
}
.capa-transparente{
    width: 100%;
    height:550px;
    position: absolute;
    background-color: rgb(27, 99, 194);
    opacity:0.7;
    
}
.detalles h1{
    color:lightgreen;
    position: relative;
    font-size: 50px;
    text-align: center;
   
}
.detalles h3{
    color: lightgreen;
    position: relative;
    font-size: 40px;
    text-align: center;
    padding-top: 200px;
    
}
#derecha{
    float:left;
    padding-left: 90px;
    text-align: center;
    color: rgb(65, 110, 236);
    padding-top: 50px;
}
#centro{
    float:left;
    padding-left: 90px;
    text-align: center;
    color: rgb(65, 110, 236);
    padding-top: 50px;

}
#izquierda{
    float:left;
    padding-left:98px;
    text-align: center;
    color:rgb(65, 110, 236);
    padding-top: 50px;
}
#invitacion{
    padding-top: 40px;
    width: 100%;
    height: 200px;
}
#banner{
    text-align: center;
    width:100%;
    height: 350px;
    background-image: url(../image/negocio4.jpg);
    background-size:100%;
    position:relative;
    padding-bottom: 90px;
}
#copy h2{
text-align: center;
color:rgb(26, 24, 24);
padding-top: 70px;
font-size: 50px;
}
#copy p{
color: rgb(53, 49, 49);
font-size: 30px;
text-align: center;
}
.container-market{
    width:100%;
    height: 500px;
    background-image: url(../image/fotojuan2.jpg);
    background-size: 100%;
    opacity: 0.8;
}
#parrafo2{
    background-color: rgb(91, 91, 243);
    opacity: 0.6;
    float: left;
    width:90%;
    height: 500px;
}
#parrafo2 h1{
    color:white;
    width: 100%;
    text-align: center;
    padding-top: 40px;
}
#parrafo2 h2{
    width: 100%;
    color:white;
    text-align: center;
    padding-top: 30px;
    font-size: 20px;
}
.contenedor{
    width: 95%;
    overflow: hidden;
    margin: 20px auto ;
    padding: 20px 0px;
}
.contenedor ul{
    padding-top: 30px;
    margin:0px;
    
}
.contenedor ul li{
    list-style: none;
    float:left;
    width: 20%;
    height:300px ;
    box-sizing:border-box ;
    border: 2px solid black;
    background:lightgrey;
    margin: 40px 20px 0px 40px;
}
.contenedor ul li .title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    background:lightblue;
    text-align: center;
}
.contenedor ul li:hover{
opacity: 0.8;
}
@media screen and (max-width:1000px){
    .contenedor ul li{
        width:40%;
        margin:20px;
    }
}
.contenedor ul li .title:hover{
    background: blue;
    color:black;
}
.container-invierte{
    width: 100%;
    height: 460px;
    background-image:url(../image/inversion.jpg);
    background-size: 100%;
}
.parrafo h1{
    width: 80%;
    height: 80px;
    text-align: left;
    padding-top: 60px;
    color: white;
    font-size: 60px;
}
 #parrafo{
    
}
#parrafo1{
    background-color:rgb(70, 235, 70);
    opacity: 0.6;
    float: right;
    width:90%;
    height:500px; 
    padding-right: 90px;
    
    
}
#parrafo1 h1{
    color:white;
    text-align: center;
     padding-top: 60px;
}
#parrafo1 h2{
    color:white;
    text-align: center;
    padding-top: 40px;
}
 .social{
     position: fixed;
     right:0px;
     height:10px ;
     top:200px;
     z-index:2000;
 }
 .social ul{
     list-style: none;
 }
 .social ul li a {
     display: inline-block;
     color:#fff;
     background: #000;
     padding: 10px 15px;
     text-decoration: none;
 }
 .social ul li  .fab fa-facebook {background:#3b5998 ;}
 .social ul li .icon-instagram {background:#3f729b ;}
 .social ul li .icon-twitter {background:#00abf0;}
 .social ul li .icon-email {background:#666666 ;}

 
 




