
    <div class="footer">
        <h1>Patagonia Market</h1>
    </div>
   
<div class="container-footer">
    <div class="box">
        <div class="icon"><i class="fas fa-map-marker" aria-hidden="true"></i></div>
        <div class="details"><h3>San Martin de los andes</h3></div>
        
    </div>
    <div class="box">
        <div class="icon"><i class="fas fa-phone" aria-hidden="true" ></i></div>
        <div class="details"><h3>+54 294 154 301470</h3></div>
        
    </div>
    <div class="box">
        <div class="icon"><i class="fas fa-envelope"aria-hidden="true"></i></div>
        <div class="details"><h3>contacto@gmail.com</h3></div>
        </div>
    </div>
</div>