<footer>
    <div class="container-footer-all">
    <div class="container-footer">
        <div class="column1">
            <h1>Patagonia Market</h1>
            <p>Al igual que vos, nosotros tambien somos consumidores, es por eso que buscamos 
                oportunidades en productos y servicios en la Patagonia, tambien ofrecemos 
                una seccion Invierte con nosotros , el cual publicamos inveriones las cuales 
                publicamos en nuestra plataforma orientada a cuelquier cliente en el mundo.<br>
                  <p1>¡¡ Publica con nosotros y muestra lo que haces!!</p1>
            </p>
        </div>
        <div class="column2">
            <h1>Redes Sociales</h1>
           <div class="row">
                <li><a href="https://www.facebook.com/Patagonia-MKT-1807552722879110/" 
                    target="blank"><i class="fab fa-facebook"></i></a> Siguenos en Facebook</li>
            </div>
            <div class="row">
                <li><a href="https://www.instagram.com/miltoncp1/?hl=es-la" target="blank">
                    <i class="fab fa-instagram"></i></a> Siguenos en Instagram</li>
            </div>
            <div class="row">
                <li><a href="https://twitter.com/StoreAndina" target="blank">
                    <i class="fab fa-twitter-square"></i></a> Siguenos en Twitter</li>
            </div>
            <div class="row">
                <li><a href="https://www.linkedin.com/in/miltoncat/" target="blank">
                    <i class="fab fa-linkedin"></i></a> Siguenos en Linkedin</li>
            </div>
            <div class="row">
                <li><a href="https://www.pinterest.com/in/miltoncat/" target="blank">
                    <i class="fab fa-pinterest"></i></a> Siguenos en Pinterest</li>
            </div>

        </div>
        <div class="column3">
            <h1>Información Contacto</h1>

            <div class="row3">
               <li><a href="#" target="blanck"><i class="fas fa-home">
               </i></a >San Martin de los andes, Neuquen</li>  
            </div>

            <div class="row3">
                <li><a href="#" target="blanck"><i class="fas fa-phone-square"></i>
                </a >+54 9 2944301470</li>  
             </div>

                <div class="row3">
                    <li><a href="mailto:catalanmilton826@gmail.com" target="blanck"><i class="fas fa-envelope-square"></i>
                    </a >catalanmilton826@gmail</li>  
                 </div>
        </div>
    </div>
    <div class="container-footer1">
        <div class="copyright">
            © Copyright 2019| Created by Milton Catalan|
            <a href="">Patagonia Market</a>
        </div>
        <div class="information">
            <a href="http://localhost:3000/Terminos"> Reglas Claras</a>|
            <a href="http://localhost:3000/Terminos"> Politicas y Privacidad</a>|
            <a href="http://localhost:3000/Terminos"> Terminos y condiciones</a>
        </div>
    </div>
    </div>
</footer>