<footer>
    <div class="container-footer-all">
        <div class="container-body">
            <div class="column1">
                <h1>Market Patagonia</h1>
                <p>Al igual que vos, nosotros tambien somos consumidores, es por eso que buscamos
                    oportunidades en productos,hoteles,traslados,restaurant,servicios a los centros
                    de esqui y todo lo que puedas encontrar en la Patagonia.
                    En nuestra seccion Patagonia al Mundo, tenemos productos para Exportar e Importar. </p>
                <br>
                <p1>¡¡ Siguenos en Redes Sociales y enterate de todo lo que pasa en Market Patagonia!!</p1>

            </div>
            <div class="column2">
                <h1>Redes Sociales</h1>
                <div class="row">
                <a href="https://www.facebook.com/Patagonia-MKT-1807552722879110/" 
                            target="blank">
                 <img src="image/facebook.png">
                    <label>Siguenos en Facebook</label>
                </div>
                <div class="row">
                        <a href="https://www.instagram.com/miltoncp1/?hl=es-la" target="blank">       
                    <img src="image/instagram.jpg">
                    <label>Siguenos en Instagram</label>
                </div>
                <div class="row">
            <a href="https://twitter.com/StoreAndina" target="blank">
                        
                    <img src="image/twitter1.jpg">
                  
                       
                    <label>Siguenos en Twitter</label>
                </div>
                <div class="row">
                        <a href="https://www.linkedin.com/in/miltoncat/" target="blank">
                    <img src="image/linkedin.jpg">
                    <label>Siguenos en Linkedin</label>
                </div>
                <div class="row">
                        <a href="https://www.pinterest.com/in/miltoncat/" target="blank">
                          
                    <img src="image/pinterest.jpg">
                    <label>Siguenos en Pinterest</label>
                </div>
            </div>
            <div class="column3">

                <h1>Información Contacto</h1>
                <div class="row3">
                    <img src="image/house.jpg">
                    <label>San Martin de los andes, Neuquen</label>
                </div>
                <div class="row3">
                    <img src="image/wps.png">
                    <label> +54 9 2944301470</label>
                </div>
                <div class="row3">
                    <img src="image/email.png">
                    <label>catalanmilton826@gmail</label>
                </div>
            </div>
        </div>
        <div class="container-footer">
            <div class="copyright">
                © Copyright 2019| Created by Milton Catalan|<a href="Market Patagonia"></a>
            </div>
            <div class="information">
                <a href="Market Patagonia">Reglas Claras</a>
                <a href="Market Patagonia">Politicas y privacidad</a>
                <a href="condiciones.html">Terminos y condiciones</a>
            </div>
        </div>
    </div>

</footer>