<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><% title %></title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/"><img src="../image/logop4.png"></a>
        <div class="navbar">
            <div class="contenedor-nav">
                <ul class="enlaces ml auto">
                    <a href="/" id="enlaces-inicio" class="btn-header">Inicio</a>
                    <a href="/negocios" id="enlaces-invierte" class="btn-header">¿Tienes un Negocio?
                    </a>
                    <a href="/patagonia-market" id="enlaces-reglas" class="btn-header">Patagonia Market</a>
                </ul>
            </div>
        </div>
      </div>
    </nav>
</body>
</html>