<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
</head>

<body>
    <header1> 
              
     <nav>
           
            <a class="#" href="/contact"><i class="fas fa-envelope"></i> Suscribete</a>     
            <a class="#" href="/Terminos"><i class="fas fa-balance-scale"></i> Reglas Claras!</a> 
            <a class="#" href="/invierte"><i class="fas fa-business-time"></i> Inversion</a>  
            <a class="#" href="/ventas"><i class="fas fa-chart-line"></i> Aumenta tus ventas</a>
            <a class="#" href="/"><i class="fas fa-home"></i> Home</a>
        </nav>
      
    </header1>
</body>
</html>


  
