
<body class="hidden">
    <header>
            <nav id="nav" class="nav1">
                    <div class="contenedor-nav">
                            <div class="logo">
                                    <img src="" alt="">
                            </div>
                            <div class="enlaces" id="enlaces">
                                    <a href="/" id="enlaces-inicio" class="btn-header">Inicio</a>
                                    <a href="/ventas" id="enlaces-ventas" class="btn-header">Ventas</a>
                                    <a href="/invierte" id="enlaces-invierte" class="btn-header">Invierte</a>
                                    <a href="/Terminos" id="enlaces-reglas" class="btn-header">Reglas Claras</a>
                                    <a href="/contact" id="enlaces-suscribete" class="btn-header">Suscribete</a>
                            </div>
                            <div class="icono" id="open">
                                    <span>&#9776;</span>
                            </div>
                    </div>
            </nav>
            <div class="textos1">
                    <h1>Market Patagonia</h1>
                    <h2>La patagonia mas cerca tuyo</h2>
            </div>
    </header>
