
<div class="container-fluid" id="about">
    <h1>Descubre los mejores productos de la Patagonia</h1>
  <div class="row bg-light text-black p-4 text-center">
    <div class="col-sm-4">
      <h3>Publicla Aqui</h3>
      <p>
        <span>Entra y mira los productos Patagonicos, cuentanos cuales te sirven y te haremos una propuesta si estamos de acuerdo
          hacemos negocios!!!
        </span>
      </p>
      <a class="nav-link" href="/product"><input type="button" class="btn" value="Ver mas"></a>
    </div>
    <div class="col-sm-8" id="imagen">
      <img src="image/imagen3.jpg"></i>
    </div>
  </div>
</div>
<hr>

<div class="container-one">
  <div class="box-one">
    <div class="content-one">
        <img src="image/casa.jpg">
      <h3>Service one</h3>
      <p>Publica tu proyecto en este espacio.</p>
      <p>$200</p>
         <a href="#">VER OFERTA</a>
    </div>
  </div>
  <div class="box-one">
      <div class="content-one">
          <img src="image/sofa.jpg">
        <h3>Service two</h3>
        <p>Publica tu proyecto en este espacio.</p>
        <p>$200</p>
           <a href="#">VER OFERTA</a>
      </div>
    </div>
    <div class="box-one">
        <div class="content-one">
            <img src="image/foto5.jpeg">
            <h3>Service three</h3>
          <p>Publica tu proyecto en este espacio.</p>
          <p>$200</p>
             <a href="#">VER OFERTA</a>
        </div>
      </div>
      
      <div class="box-one">
          <div class="content-one">
              <img src="image/foto12.jpeg">
            <h3>Service four</h3>
            <p>Publica tu proyecto en este espacio.</p>
            <p>$200</p>
               <a href="#">VER OFERTA</a>
          </div>
        </div>
        
</div>
<hr>
<div class="container-one">
<div class="box-one">
  <div class="content-one">
      <img src="image/market.jpg">
    <h3>Service five</h3>
    <p>Publica tu proyecto en este espacio..</p>
    <p>$200</p>
       <a href="#">VER OFERTA</a>
  </div>
</div>
<div class="box-one">
  <div class="content-one">
      <img src="image/negocios1.jpg">
    <h3>Service six</h3>
    <p>Publica tu proyecto en este espacio.</p>
    <p>$200</p>
       <a href="#">VER OFERTA</a>
  </div>
</div>
<div class="box-one">
  <div class="content-one">
      <img src="image/negocios2.jpg">
    <h3>Service seven</h3>
    <p>Publica tu proyecto en este espacio.</p>
    <p>$200</p>
       <a href="#">VER OFERTA</a>
  </div>
</div>
<div class="box-one">
  <div class="content-one">
      <img src="image/proyecto.jpg">
    <h3>Service eight</h3>
    <p>Publica tu proyecto en este espacio.</p>
    <p>$200</p>
       <a href="#">VER OFERTA</a>
  </div>
</div>
</div>
<hr>

