<div class="container-one">
  <div class="box-one">
    <div class="content-one">
        <img src="image/casa.jpg">
        <h3>Publica aqui</h3>
      <p>Publica tu producto en este espacio</p>
      <p>$300</p>
      
         <a href="/product1">VER OFERTA</a>
    </div>
  </div>
  <div class="box-one">
      <div class="content-one">
          <img src="image/sofa.jpg">
        <h3>Service two</h3>
        <p>Publica tu proyecto en este espacio.</p>
        <p>$300</p>
           <a href="/product2">VER OFERTA</a>
      </div>
    </div>
    <div class="box-one">
        <div class="content-one">
            <img src="image/foto5.jpeg">
            <h3>Service three</h3>
          <p>Publica tu proyecto en este espacio.</p>
          <p>$300</p>
             <a href="/product3">VER OFERTA</a>
        </div>
      </div>
      
      <div class="box-one">
          <div class="content-one">
              <img src="image/foto12.jpeg">
            <h3>Service four</h3>
            <p>Publica tu proyecto en este espacio.</p>
            <p>$300</p>
               <a href="/product4">VER OFERTA</a>
          </div>
        </div>
        
</div>
<hr>
<div class="container-one">
<div class="box-one">
  <div class="content-one">
      <img src="image/market.jpg">
    <h3>Service five</h3>
    <p>Publica tu proyecto en este espacio..</p>
    <p>$300</p>
       <a href="/product5">VER OFERTA</a>
  </div>
</div>
<div class="box-one">
  <div class="content-one">
      <img src="image/negocios1.jpg">
    <h3>Service six</h3>
    <p>Publica tu proyecto en este espacio.</p>
    <p>$300</p>
       <a href="/product6">VER OFERTA</a>
  </div>
</div>
<div class="box-one">
  <div class="content-one">
      <img src="image/negocios2.jpg">
    <h3>Service seven</h3>
    <p>Publica tu proyecto en este espacio.</p>
    <p>$300</p>
       <a href="/product7">VER OFERTA</a>
  </div>
</div>
<div class="box-one">
  <div class="content-one">
      <img src="image/proyecto.jpg">
    <h3>Service eight</h3>
    <p>Publica tu proyecto en este espacio.</p>
    <p>$300</p>
       <a href="/product8">VER OFERTA</a>
  </div>
</div>
</div>

<hr>

